{% extends 'base.html' %}
{% block content %}
<!-- appled_user -->
<div class="container my-5">
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
    <div class="card"  style="margin-top: 0px;">
        <div class="card__container">
            <div class="card__front">
                <div class="card__front--bg">
                    <div class="front--bg--s1"></div>
                </div>
                <div class="card__brand">
                    <span class="card__brand--logo font-logo">
                        <span class="logo-letter logo-d">d</span>
                        <span class="logo-letter logo-mid">&</span>
                        <span class="logo-letter logo-p">p</span>
                    </span>
                    <span class="card__brand--name font-normal">
                        SAMPLECARD
                    </span>
                </div>
                <div class="card__chip">
                    <div class="card__chip--shape"></div>
                    <div class="card__chip--shape"></div>
                    <div class="card__chip--shape"></div>
                </div>
                <div class="card__extra">
                    <div class="card__extra--contactless">
                        <i class="fas fa-wifi"></i>
                    </div>
                </div>
                <div class="card__number font-number">
                    1551 4545 0021 7691
                </div>
                <div class="card__payment">
                    <i class="fab fa-cc-visa"></i>
                </div>
                <div class="card__user">
                    <span class="card__user--name  font-number">MAZLUM YILDIRIM</span>
                    <div class="card__user--valid">
                        <div class="card__user--valid-txt font-normal">VALİD THRU</div>
                        <div class="card__user--valid-date  font-number">17 / 24</div>
                    </div>
                </div>
            </div>
            <div class="card__back">
                <div class="card__plast">
                </div>
                <div class="card__contact">
                    <p class="card__contact--txt">Customer Service: 0855 0055 0055</p>
                    <p class="card__contact--txt">www.samplecard.com.xx</p>
                </div>
                <div class="card__strip"></div>
                <div class="card__company">
                    <div class="card__company--address">7741 Hayvenhurst Ave, Van Nuys, CA 91406 Los Angeles /
                        Californiya - USA</div>
                    <div class="card__company--msg">A credit card is different from a charge card, which requires the
                        balance to be repaid in full each month. </div>
                </div>
                <div class="card__cvc">
                    <div class="card__cvc--strip">
                        <div class="strip-shape"></div>
                        <div class="strip-shape"></div>
                        <div class="strip-shape"></div>
                        <div class="strip-shape"></div>
                        <div class="strip-shape"></div>
                    </div>
                    <span class="card__cvc--num"><span class="card__cvc--txt">535</span> CVC </span>
                </div>
                <p class="card__cvc--warning"> NOT VALİD WİTHOUT AUTHORİZED SİGNATURE</p>
                <div class="card__stamp"></div>
                <div class="card--hr"></div>
                <div class="card__back--bottom">
                    <p class="company-dec">
                        d&p sample company
                    </p>
                    <p class="card--business">
                        SampleCard
                    </p>
                </div>
                <div class="card__back--shape"></div>
            </div>
        </div>
    </div>
    {% if appled_creditcard %}

    <table class="table table-hover bg-light my-2" style="height: 100px;">
        <thead>
            <tr style="background-color: rgb(120, 183, 120);">
                <th scope="col" style="color: black;">A/C-NO</th>
                <th scope="col" style="color: black;">EMAIL</th>
                <th scope="col" style="color: black;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in appled_creditcard reversed %}
            <tr>
                <td style="color: black;">{{i.account_no}}</td>
                <td style="color: black;">{{i.coustmer}}</td>
                <td style="color: black;">
                    <a href="{% url 'applyed_credit_card' i.id %}" class="btn btn-danger btn-sm">aprove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning my-3">no data</h4>
    {% endif %}


</div>
<!-- //appled_user -->


{% endblock content %}