{% extends 'base.html' %}
{% block content %}
<!-- appled_user -->
<div class="container my-5">

    {% if apply_data %}

    <table class="table table-hover bg-light" style="height: 100px;">
        <thead>
            <tr style="background-color: rgb(120, 183, 120);">
                <th scope="col" style="color: black;">First name</th>
                <th scope="col" style="color: black;">EMAIL</th>
                <th scope="col" style="color: black;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in apply_data reversed %}
            <tr>
                <td style="color: black;">{{i.first_name}}</td>
                <td style="color: black;">{{i.email}}</td>
                <td style="color: black;">
                    <a href="{% url 'aproved' i.id %}" class="btn btn-danger btn-sm">aprove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">no data</h4>
    {% endif %}


</div>
<!-- //appled_user -->


{% endblock content %}