{% extends 'base.html' %}
{% block content %}
<!-- appled_user -->
<div class="container my-5">
    {% if aproved_data %}
    <table class="table table-hover bg-light" style="height: 150px; margin: 0px;">
        <thead>
            <tr style="background-color: rgb(120, 183, 120);">
                <th scope="col" style="color: black;">A/c</th>
                <th scope="col" style="color: black;">EMAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in aproved_data reversed %}
            <tr>
                <td style="color: black;">{{i.account_no}}</td>
                <td style="color: black;">{{i.coustmer}}<br>
                    <a href="{% url 'account_book' i.id %}"
                        style="border-radius: 10px; color: black; text-decoration: none;" class="btn-danger">show</a>
                    <a href="{% url 'gen_pdf' i.id %}" style="border-radius: 10px; color: black;text-decoration: none;"
                        class="btn-danger">send</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">no data</h4>
    {% endif %}
</div>
<!-- //appled_user -->


{% endblock content %}