{% extends 'base.html' %}
{% block content %}


        <section class="site-section bg-light" id="contact-section" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">LOGIN</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <form action="" method="POST" class="p-5 bg-white">
                            {% csrf_token %}
                            <div class="row form-group">

                                <div class="col-md-7">
                                    <label class="text-black" for="email">Coustmer ID</label>
                                    <input type="text" maxlength="8" minlength="8" id="" name="coustmerid" required placeholder="enter your username" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-7">
                                    <label class="text-black" for="subject">MPIN</label>
                                    <input type="password" maxlength="4" minlength="4" name="mpin" required placeholder="enter your password" class="form-control">
                                    <p class="mt-2">If not a mpin <a href="{% url 'coustmer_signup' %}" style="color: blue;">Genret.</a></p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="login" class="btn btn-danger btn-md text-white">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        {% endblock content %}